.hero {
	height: var(--fsh);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.HeaderContainer {
	max-width: 1600px;
}

.MinorHeading {
	margin: 0px 0px 30px 4px;
	color: var(--accent);
	font-family: 'Roboto mono';
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
}

.NameHeading {
	color: var(--lightest-slate);
	font-size: clamp(40px, 8vw, 80px);
	font-weight: 600;
}
.bio {
	color: var(--slate);
	font-size: clamp(30px, 7vw, 60px);
	font-weight: 600;
	margin-top: 20px;
	line-height: 1.2;
}

.sidebar {
	width: 40px;
	position: fixed;
	top: auto;
	bottom: auto;
	z-index: 10;
	color: var(--slate);
}

.sidebar.left {
	left: 40px;
	right: auto;
}

.sidebar.right {
	left: auto;
	right: 40px;
}
.sidebar.right:before,
.sidebar.right:after,
.sidebar.left:before,
.sidebar.left:after {
	content: '';
	display: block;
	opacity: 0.6;
	width: 1px;
	height: 12vh;
	margin: 0px auto;
	background-color: var(--slate);
	/* opacity: 0.6; */
}

.sidebar.left .social {
	list-style: none;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	margin: 10px 0;
	padding: 0px;
}

.sidebar.left .social .link {
	padding: 10px;
	margin: 5px 0px;
}

.sidebar.right .email {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	transition: var(--transition);
	position: relative;
}

.sidebar.right .email p {
	margin: 10px auto;
	padding: 10px;
	font-family: 'Roboto mono';
	font-size: var(--fz-xs);
	line-height: 18px;
	letter-spacing: 0.15rem;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	color: inherit;
	transition: var(--transition);
	cursor: pointer;
}

.sidebar.right .email p:hover {
	color: var(--accent);
	transform: translateY(-3px);
}

@media (max-width: 768px) {
	.sidebar.left,
	.sidebar.right {
		display: none;
	}
}

@media (max-width: 1080px) {
	.sidebar.left {
		left: 20px;
		right: auto;
	}

	.sidebar.right {
		right: 20px;
		left: auto;
	}
}
