.hero {
  height: var(--fsh);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: var(--transition);
  padding: 0 0 10%;
  margin: 0px auto;
  background: radial-gradient(ellipse 50% 80% at 50% -20%, rgba(13, 43, 185, 0.3) 0%, rgba(238, 130, 238, 0) 100%);
}

.HeaderContainer {
  max-width: 1600px;
}

.MinorHeading {
  margin: 0px 0px 30px 4px;
  color: var(--accent);
  font-family: "Roboto mono";
  font-size: clamp(14px, 5vw, 16px);
  font-weight: 400;
}

.NameHeading {
  color: var(--lightest-slate);
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
}
.bio {
  color: var(--slate);
  font-size: clamp(22px, 6vw, 50px);
  font-weight: 600;
  margin-top: 20px;
  line-height: 1.2;
}

.sidebar {
  width: 40px;
  position: fixed;
  top: auto;
  bottom: auto;
  z-index: 10;
  color: var(--slate);
}

.sidebar.left {
  left: 40px;
  right: auto;
}

.sidebar.right {
  left: auto;
  right: 40px;
}
.sidebar.right:before,
.sidebar.right:after,
.sidebar.left:before,
.sidebar.left:after {
  content: "";
  display: block;
  opacity: 0.6;
  width: 1px;
  height: 12vh;
  margin: 0px auto;
  background-color: var(--slate);
  /* opacity: 0.6; */
}

.sidebar.left .social {
  list-style: none;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 10px 0;
  padding: 0px;
}

.sidebar.left .social .link {
  padding: 10px;
  margin: 5px 0px;
}

.sidebar.right .email {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  transition: var(--transition);
}

.sidebar.right .email p {
  margin: 10px auto;
  padding: 10px;
  font-family: "Roboto mono";
  font-size: var(--fz-xs);
  line-height: 18px;
  letter-spacing: 0.15rem;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: inherit;
  transition: var(--transition);
  cursor: pointer;
}

.sidebar.right .email p:hover {
  color: var(--accent);
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .sidebar.left,
  .sidebar.right {
    display: none;
  }
  .hero {
    padding: 0;
  }
}

@media (max-width: 1080px) {
  .sidebar.left {
    left: 20px;
    right: auto;
  }

  .sidebar.right {
    right: 20px;
    left: auto;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.magic {
  display: inline-block;
  position: relative;
}

.magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  --star-left: 10px;
  --star-top: 10px;

  animation: scale 1000ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magic > .magic-star > svg {
  animation: rotate 1300ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magic > .magic-star > svg > path {
  fill: var(--violet);
}

.magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, var(--purple), var(--violet), var(--pink), var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
