/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap'); */
:root {
	--dark-navy: #020c1b;
	--navy: #0a192f;
	--light-navy: #112240;
	--lightest-navy: #233554;
	--navy-shadow: rgba(2, 12, 27, 0.7);
	--dark-slate: #495670;
	--slate: #8892b0;
	--light-slate: #a8b2d1;
	--lightest-slate: #ccd6f6;
	--white: #e6f1ff;
	--accent: #f6ad55;
	--accent-tint: rgba(100, 255, 218, 0.1);
	--font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui,
		sans-serif;
	--font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
	--fz-xxs: 12px;
	--fz-xs: 13px;
	--fz-sm: 14px;
	--fz-md: 16px;
	--fz-lg: 18px;
	--fz-xl: 20px;
	--fz-xxl: 22px;
	--fz-heading: 32px;
	--border-radius: 4px;
	--nav-height: 100px;
	--nav-scroll-height: 70px;
	--tab-height: 42px;
	--tab-width: 120px;
	--easing: cubic-bezier(0.645, 0.045, 0.355, 1);
	--transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	--hamburger-width: 30px;
	--ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
	--ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	--ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ham-after-active: bottom 0.1s ease-out,
		transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px 0px 10px;
	font-weight: 600;
	color: var(--lightest-slate);
	line-height: 1.1;
}

p {
	color: var(--light-slate);
	/* font-size: var(--fz-md); */
}

.font-mono {
	font-family: 'Roboto mono';
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a {
	font-family: inherit;
	display: inline-block;
	text-decoration: none;
	text-decoration-skip-ink: auto;
	color: inherit;
	position: relative;
	transition: var(--transition);
}

a:hover,
a:focus {
	color: var(--accent);
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

.underline--magical {
	background-image: linear-gradient(120deg, #f24389 0%, #a478f1 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
	padding: 2px 4px !important;
}
.underline--magical:hover {
	background-size: 100% 88%;
	color: var(--dark-navy);
}

.react-icons {
	transition: var(--transition);
	width: 20px;
	height: 20px;
	color: var(--lightest-slate);
}
a:hover .react-icons {
	color: var(--accent);
	transform: translateY(-3px);
}

.ParallaxBanner {
	margin-top: 5rem;
	height: 80vh !important;
	width: 100vw !important;
	border: 1px solid red;
	object-fit: contain;
}

.custom-bg {
	background-color: #8892b0;
	width: 40vw;
	height: 800px;
}
