@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

.home {
	/* font-family: 'Roboto Mono';
	color: blue; */
	padding: 0px 150px;
}
.github-corner {
	fill: #151513;
	color: #fff !important;
	position: absolute !important;
	top: 0;
	border: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
	color: #fff !important;
}

@media (max-width: 1080px) {
	.home {
		padding: 0px 100px;
	}
}
@media (max-width: 768px) {
	.home {
		padding: 0px 50px;
	}
}
@media (max-width: 480px) {
	.home {
		padding: 0px 25px;
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
