@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

.home {
	/* font-family: 'Roboto Mono';
	color: blue; */
	padding: 0px 150px;
}

@media (max-width: 1080px) {
	.home {
		padding: 0px 100px;
	}
}
@media (max-width: 768px) {
	.home {
		padding: 0px 50px;
	}
}
@media (max-width: 480px) {
	.home {
		padding: 0px 25px;
	}
}
