.scroll-down {
	position: absolute;
	bottom: 5vh;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}

.scroll-down .react-icons {
	color: black;
}
.scroll-down p {
	color: black;
	margin-bottom: 0;
}

.page-header {
	display: flex;
	padding: 1rem 2rem;
	justify-content: space-between;
	align-items: center;
}

.page-header a:hover .react-icons {
	transform: none;
}

.tophead-container {
	padding: 0 10%;
	margin: 7% 0px;
	margin-bottom: 2%;
}

.project-title {
	font-size: clamp(1rem, 1vw, 3rem);
	line-height: 250%;
	color: var(--lightest-slate);
}
.project-subtitle {
	font-weight: 200;
	color: var(--light-slate);
	font-size: clamp(1.75rem, 3.41667vw, 3.41667vw);
}

.brief {
	color: var(--slate);
	width: 100%;
	padding: 30% 10%;
}

.brief .heading {
	padding: 0 7% 30px 0;
}

.brief .heading h2 {
	color: var(--light-slate);
	font-size: clamp(22px, 1.6vw, 3rem);
	white-space: nowrap;
}
.brief .content {
	max-width: 92%;
}

.brief .content .text p {
	font-size: clamp(1.2rem, 2vw, 1.5rem);
	line-height: 150%;
	font-weight: 300;
	color: var(--slate);
}

.brief .content .links {
	position: relative;
	display: inline-block;
	padding: 3vw 0 0 0;
	font-size: 1.3rem;
	text-decoration: none;
}

@media (min-width: 768px) {
	.casestudy {
		padding-right: 0;
		padding-left: 0;
	}
	.brief {
		display: flex;
		padding: 10%;
	}
}

@media (max-width: 768px) {
	.tophead-container {
		margin-top: 30%;
	}
}
