.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.outer-ring {
  stroke-dasharray: 10;
  /* stroke-dashoffset: 1000;*/
  animation: dash 1s linear infinite;
}
.stroke {
  fill: transparent;
  stroke-width: 3px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.logo-icon {
  animation: secondAnimation 2s linear forwards infinite;
}
@keyframes secondAnimation {
  0% {
    stroke-dasharray: 40;
    stroke-dashoffset: 20;
  }
  30% {
    stroke-dasharray: 40;
    stroke-dashoffset: 200;
  }
  50% {
    stroke-dasharray: 80;
    stroke-dashoffset: 400;
  }
  60% {
    stroke-dasharray: 80;
    stroke-dashoffset: 200;
  }
}
