@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --dark-navy: hsl(215, 87%, 6%);
  --navy: hsl(216, 65%, 11%);
  --light-navy: hsl(218, 58%, 16%);
  --lightest-navy: hsl(218, 41%, 23%);
  --navy-shadow: hsla(216, 86%, 6%, 0.7);
  --dark-slate: hsl(220, 21%, 36%);
  --slate: hsl(225, 20%, 61%);
  --light-slate: hsl(225, 31%, 74%);
  --lightest-slate: hsl(226, 70%, 88%);
  --white: #e6f1ff;
  --accent: hsl(33, 90%, 65%);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --accent-tint: hsla(33, 100%, 70%, 0.1);
  --font-sans: "Poppins", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "Roboto Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fsh: 100vh;
  --fsw: 100vw;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif, "Roboto Mono", monospace;
  font-size: 16px;
  background-color: var(--navy);
  overflow-x: hidden;
  max-width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 10px;
  /* font-weight: 600; */
  color: var(--lightest-slate);
  line-height: 1.1;
}
p {
  color: var(--light-slate);
  /* font-size: var(--fz-md); */
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--accent);
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

/* React Icons Style */
.react-icons {
  transition: var(--transition);
  width: 20px;
  height: 20px;
  color: var(--light-slate);
}
a:hover .react-icons {
  color: var(--accent);
  transform: translateY(-3px);
  opacity: 1;
}

.font-mono {
  font-family: "Roboto mono";
}

.link-item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  height: 1px;
  background: var(--accent);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -moz-transform 1s cubic-bezier(0.19, 1, 0.22, 1), -o-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.link-item:hover:before {
  transform: scaleX(0);
}

.underline--magical {
  background-image: linear-gradient(120deg, #f24389 0%, #a478f1 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  padding: 2px 4px !important;
}
.underline--magical:hover {
  background-size: 100% 88%;
  color: var(--dark-navy);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-slate);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--slate);
}

.thumbnail {
  position: absolute;
  top: 0;
  z-index: -5000;
  width: 0px;
  height: 0px;
}
.thumbnail img {
  object-fit: cover;
  width: 0px;
  height: 0px;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
