@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#414345,
		#232526
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#c7c7c7,
		#3385ad
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.row {
	height: 85vh;
}
.container {
	padding-top: 50px;
}
.app_sidebar {
	background-color: #ededed;
	border-radius: 8px;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
	height: 100%;
}

.app_main {
	background-color: bisque;
	height: 100%;
	border-radius: 8px;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.3);
}
